/* Navbar CSS Start */
header {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: transparent;
  z-index: 10000 !important;
  transition: all 0.4s ease-in-out 0.15s;
  -webkit-transition: all 0.4s ease-in-out 0.15s;
  -moz-transition: all 0.4s ease-in-out 0.15s;
  -ms-transition: all 0.4s ease-in-out 0.15s;
  -o-transition: all 0.4s ease-in-out 0.15s;
}

header.white {
  background-color: #fff;
  box-shadow: 0px 4px 16px rgba(28, 27, 37, 0.4);
}

.nav-container {
  position: relative;
  max-width: 98%;
  padding: 0 3rem;
  margin: 0 auto;
  display: flex;
  height: auto;
  min-height: 3rem;
  max-height: 3.5rem;
}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
}
.logo {
  width: 80px;
  height: 100%;
  justify-self: center;
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav-btn {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.icons a {
  font-size: 20px;
  color: #fff;
  margin-inline: 20px;
  transition: all 0.4s ease-in-out 0.15s;
}
header.white .icons a {
  color: #000;
}

.nav-links > ul {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  position: relative;
}

.nav-link > a {
  line-height: 3.25rem;
  color: #fff;
  padding: 0 1rem;
  letter-spacing: 1px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.4s ease-in-out 0.15s;
}

header.white .nav-link > a {
  color: #000;
}

.nav-link:hover > a {
  transform: scale(1.023);
  background-color: rgba(99, 75, 239, 0.6);
  -webkit-transform: scale(1.023);
  -moz-transform: scale(1.023);
  -ms-transform: scale(1.023);
  -o-transform: scale(1.023);
}

.drop-down {
  position: absolute;
  top: 100%;
  left: 0;
  width: 20rem;
  background-color: #333;
  z-index: 10;
  border-top: 2px solid var(--grad-bg);
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: 0.4s;
}

.drop-down ul {
  position: relative;
}

.drop-links > a {
  display: flex;
  background-color: #fff;
  color: #181818;
  padding: 1rem 1rem;
  font-size: 14px;
  align-items: center;
  justify-content: flex-start;
  transition: 0.2s ease-in-out;
}

.drop-links:hover > a {
  background-color: #f1f1f1;
}

.arrow {
  position: absolute;
  width: 12px;
  height: 12px;
  top: -7.5px;
  left: 50px;
  background-color: var(--grad-bg);
  transform: rotate(45deg);
  z-index: -1;
  cursor: pointer;
  transition: 0.3s;
}

.nav-link:hover > .drop-down {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.hamburger-container {
  margin-inline: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hamburger {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display:none;
}
.drop-arrow {
  margin-left: 10px;
}

.hamburger div {
  width: 1.6rem;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  z-index: 10001;
  transition: all 0.4s ease-in-out 0.15s;
}
.hamburger div::before,
.hamburger div::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 3px;
  background-color: #fff;
  transition: all 0.4s ease-in-out 0.15s;
}
.hamburger div::before {
  transform: translateY(-7px);
}
.hamburger div::after {
  transform: translateY(7px);
}
header.white .hamburger div,
header.white .hamburger div::before,
header.white .hamburger div::after {
  background-color: #000;
}
#check {
  position: absolute;
  top: 50%;
  right: 1.6rem;
  margin-inline: 10px;
  transform: translateY(-50%);
  width: 2.75rem;
  height: 2.75rem;
  z-index: 99991;
  cursor: pointer;
  opacity: 0;
  user-selct:none;
}

@media screen and (max-width: 900px) {
  header {
    background-color: #fff;
  }
  .nav-btn {
    position: fixed;
    height: calc(100vh - 3rem);
    left: 0;
    top: 3rem;
    width: 100%;
    justify-content: center;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(100%);
    align-items: flex-start;
    transition: 0.65s;
  }
  .nav-links {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .nav-links > ul {
    flex-direction: column;
    float: none;
  }

  .nav-link {
    width: 100%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  .nav-link > a {
    line-height: 1;
    padding: 1.4rem 2.5rem;
    color: #000;
  }
  .nav-link > a > i {
    font-size: 1.1rem;
  }
  .nav-link:hover > a {
    transform: scale(1);
    background-color: #fff;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  .drop-down {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    transition: 0.3s ease-in-out;
    padding: 0;
    display: none;
  }

  .drop-links > a {
    padding: 1.2rem 2rem;
    font-size: 16px;
    border-bottom: none;
  }
  .nav-link:hover > .drop-down {
    display: block;
  }
  header .hamburger div,
  header .hamburger div::before,
  header .hamburger div::after {
    background-color: #000;
  }
  #check {
    display: block;
  }

  #check:checked ~ .nav-btn {
    transform: translateX(0);
  }
  .drop-arrow {
    margin-left: 0px;
  }
  .hamburger{
  display:block
  }
}

@media screen and (max-width: 420px) {
  .icons .fa-search,
  .icons .fa-user {
    display: none;
  }
}

/* Navbar CSS End */
